*{
  font-family: 'Mulish', sans-serif;

}

/* header styles */
header{
   margin: 55px 135px;
   background: #FFF;
}

.explore{
   color: #FF5400;
}
.nav-img{
  margin-left: 50px;
}

.section-title{
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav >ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 30px;
  font-weight: 400;
  font-size: 1.2rem;
}

nav li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.2rem;
  font-weight: 400;
}

.banner{
   max-width: 1440px;
   height: 500px;
   border-radius: 16px;
   background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);  
   text-align: center;
   justify-content: center;
   
}

.banner-content{
  padding-top: 70px;
   
}

.banner-title{
  color: #FFF;
  font-size: 4rem;
  font-weight: 800;
}

.banner-text{
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
}
.banner-content input{
  width: 174px;
  height: 40px;
  border-radius: 8px;
  background: #FFF;
}

.btn-primary{
  width: 174px;
  height: 45px;
  border-radius: 8px;
  background: #FF5400;
}

/* tour section styles */
.tour{
  display: flex;
}
.tour-title{
   padding-left: 100px;
   padding-top: 40px;
   color: #131318;
   font-size: 2.8rem;
   font-weight: 800;
}

.tour-text{
  padding-left: 100px;
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
}

.tour-content .list{
  padding-left: 120px;
  padding-bottom: 24px;
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
}

.button{
   padding-left: 100px;
}
.tour-img img{
  margin-top: 100px;
  margin-right: 135px;
  width: 540px;
  height: 550px;
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* place sction styles */
.place-container{
   margin: 100px 100px;  
}
.row{
   display: flex;
   gap: 24px;
}

.dives{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
}
 .indo{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
} 
.sri{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
}
.north{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
}
.kashmir{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
}
 .bang{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
}
.band{
   position: relative;
   left: 35%;
   bottom: 170px;
   color: #FFF;
   font-size: 1.8rem;
   font-weight: 800;
} 

/* choose styles */
.choose-content{
   text-align: center;
   margin-top: 120px;
}
.choose-title{
  color: #131318;
  font-size: 2.8rem;
  font-weight: 800;
}

.choose-text{
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
}

/* card section styles */
.card{
   margin: 50px 135px;
   
}
.card-container{
   display: flex;
   
}

.card-content .card-one{
 width: 600px;
 height: 284px;
 border-radius: 16px;
 border: 1px solid rgba(251, 181, 99, 0.20);
 background: rgba(251, 181, 99, 0.05);
 margin-right: 24px;
 padding-left: 20px;
 padding-top: 20px;
}
.card-content .card-two{
  width: 600px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  padding-left: 20px;
  padding-top: 20px;
}
.card-content .card-three{
  width: 600px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  margin-top: 24px;
  margin-left: 220px;
  padding-top: 20px;
  padding-left: 20px;
}

/* discount section styles */
.discount-content{
  text-align: center;
  margin-top: 120px;
}
.discount-title{
 color: #131318;
 font-size: 2.8rem;
 font-weight: 800;
}

.discount-text{
 color: rgba(19, 19, 24, 0.70);
 font-size: 1rem;
 font-weight: 400;
}

/* news section styles */
.news{
   margin: 100px 135px;
}
.news-content{
   display: flex;
   justify-content: space-between;
}
.news-form{
  border-radius: 16px;
  border: 1px solid #FF5400;
  margin-right: 12px;
  height: 435px;
}
.news-title{
   padding-left: 40px;
   color: #131318;
   font-size: 1.8rem;
   font-weight: 800;
}
.news-text{
  padding-left: 40px;
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;
}
 .input{
   margin: 40px;
}
.input input{
   margin-top: 16px;
   width: 350px;
   height: 40px;
}
.subscribe{
   margin-top: 16px;
   width: 350px;
   height: 40px;
   border-radius: 8px;
   background: #FF5400;
}
.news-img{
  margin-left:10px;
  
}
.travel{
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn{
  color: #FFF;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 16px;
  background: #FF5400;
  position: relative;
  transform: rotate(-19.628deg);
  bottom: 130px  ;
  left: 400px;
}

 
/* footer section styles */
.footer{
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-content{
  text-align: center;
  padding-top: 100px;
}
.adventure{
   display: flex;
   text-align: center;
   justify-content: center;
   color: #131318;
   font-size: 1.8rem;
   font-weight: 800;

}
.adventure img{
   width: 40px;
   height: 46px;
   margin-top: 33px;
}

.footer-text{
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;
}
.footer-end{
  padding-top: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(167, 162, 162);
  width: 80%;
  margin-left: 110px;
}
.end{
   padding-top: 50px;
}


/* responsive styles */
/* mobile device */
.hide{
   display: none;
}
@media screen and (max-width:576px) {
  .news-img{
     width: 200px;
  }
  .news{
    margin: 0px;
  }
  .input{
    margin: 0px;
  }
  .place-container{
     margin: 0px;
  }
.row,
.news-content,
.tour
{
  flex-direction: column;
}
.row img{
  width: 90%;
}

  .card{
     margin: 30px;
  }
.card-container{
   flex-direction: column;
}

.card-content .card-one,
.card-content .card-two{
    margin-bottom: 10px;
}

.card-content .card-one,
.card-content .card-two,
.card-content .card-three
{
   width: 200px;
}
 .card-content .card-three{
   margin-left: 0px;
   margin-top: 0px;
}
.discount-content{
 margin-top:10px;
  
 }
.discount-title,
.discount-text
{
   width: 200px;
   padding-left: 20px;
}
.choose-content{
   width: 280px;
}
.footer-end{
  margin-left: 0px;
}
}
